DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=
FRONTEND_URL=
JWT_REFRESH_SECRET=
JWT_SECRET=
GEMINI_API_KEY=
APP_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_CALLBACK_URL=
PORT=3000